<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IsitFuckingOpen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag('favicon.png') %>
	<script src="/assets/jquery.countdown.js"></script>
	<link rel="stylesheet" href="/assets/animate.css">
</head>
<body>

<%= yield %>

</body>
</html>
